*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: dodgerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 5px;
}
input{
    width: 100%;
    height: 35px;
    padding: 8px;
    border: 0;
    background: rgb(204, 197, 197);
    border-radius: 4px;
    margin-bottom: 20px;
}
.eyes {
    width: 35px;
    height: 35px;
    margin-left: 2px;
    background: url(../icon/view.png) center no-repeat;
    background-size: 80%;
    border: 0;
}
.photo {
    width: 150px;
    height: 150px;
    background: gray;
    background-size: 80%;
    border-radius: 150px;
}
input:focus {
    border: 0;
}
::placeholder {
    color: rgb(75, 74, 74);
}
input[type="file"] {
    border: 0;
    outline: none;
    color: transparent;
}
.input-file::-webkit-file-upload-button {
    visibility: hidden;
}
.input-file {
    cursor: pointer;
    width: 40px;
    margin-top: 122px;
    margin-left: -52px;
    border-radius: 50px;
    background: dodgerblue url(../icon/camera-to-take-photos.png) center no-repeat;
    background-size: 60%;
}
.bg-white {
    background: white;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.nav-left {
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    width: 75px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 100px;
}
.nav {
    width: 100%;
    height: 70px;
    background: white;
    position: fixed;
    z-index: 0;
    padding-top: 8px;
}
.hover-gray:hover {
    background-color: gray;
}
.content {
    margin-left: 75px;
    padding-left: 20px;
    padding-top: 80px;
}
.align-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icon {
    display: block;
    width: 45px;
    height: 40px;
    border-radius: 8px;
    background: transparent;
    margin: 20px;
    background-size: 50%;
}
.round {
    border-radius: 48%;
}
.icon-home {
    background: url('../icon/home.png') center no-repeat;
    background-size: 50%;
}
.icon-home:hover {
    background: rgba(224, 224, 224, 0.6) url('../icon/home.png') center no-repeat;
    background-size: 50%;
}
.icon-add {
    background: url('../icon/add.png') center no-repeat;
    background-size: 50%;
}
.icon-add:hover {
    background: rgba(224, 224, 224, 0.6) url('../icon/add.png') center no-repeat;
    background-size: 50%;
}
.icon-cloche {
    background: url('../icon/bell.png') center no-repeat;
    background-size: 50%;
}
.icon-cloche:hover {
    background: rgba(224, 224, 224, 0.6) url('../icon/bell.png') center no-repeat;
    background-size: 50%;
}
.icon-sms {
    background: url('../icon/messenger.png') center no-repeat;
    background-size: 50%;
}
.icon-sms:hover {
    background: rgba(224, 224, 224, 0.6) url('../icon/messenger.png') center no-repeat;
    background-size: 50%;
}
.icon-arrow-down {
    margin-left: -14px;
    margin-top: 8px;
    background: url('../icon/arrow-down.png') center no-repeat;
    background-size: 50%;
}
.icon-arrow-down:hover {
    background: rgba(224, 224, 224, 0.6) url('../icon/arrow-down.png') center no-repeat;
    background-size: 50%;
}
.icon-profile {
    border: 2px solid black;
    border-radius: 50px;
    float: right;
    background: url('../icon/user.png') center no-repeat;
    background-size: 50%;
}
.icon-logo {
    background: url('../icon/pinterest.png') center no-repeat;
    background-size: 50%;
}
.icon-logo:hover {
    background: rgba(224, 224, 224, 0.6) url('../icon/pinterest.png') center no-repeat;
    background-size: 50%;
}
textarea{
    width: 100%;
    padding: 8px;
    border: 2px solid rgb(46, 45, 45);
    border-radius: 4px;
    margin: 5px;
}
input[type="submit"]{
    background-color: dodgerblue;
    color: white;
    border: 2px solid dodgerblue;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}
input[type="submit"]:hover{
    border: 2px solid #0056b3;
}
.form-select {
    width: 100%;
    height: 30px;
}
label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.right {
    display: flex;
    justify-content: flex-end;
    margin-top: -5px;
    padding: 0;
}
.close {
    position: relative;
    float: right;
    top: -16px;
    left: 16px;
    padding: 1px 12px;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
}
.close:hover {
    background-color: rgb(121, 120, 120);
}
#form {
    display: none;
}
.p-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
}
.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
.profile {
    cursor: pointer;
    margin-left: 10px;
    width: 70px;
    height: 60px;
    background: gray;
    border: 2px solid black;
    border-radius: 60px;
    padding: 13px;
}
.compte {
    width: 10px;
    height: 10px;
    background: red;
    color: white;
}
.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}
.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.bg-red {
    padding: 2px 12px;
    color: white;
    font-size: 30px;
    background-color: red;
}
.white {
    color: white;
}
.card {
    width: 350px;
    background: white;
    padding: 12px 32px;
    border-radius: 5px;
    margin: 12px;
}
.card:hover {
    cursor: pointer;
    background-color: #0056b3;
}
.img {
    cursor: pointer;
}
.img:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.show {
    display: none;
}
.btn-eyes {
    width: 30px;
    height: 30px;
    position: absolute;
    border: 0;
    top: 212px;
    left: 308px;
    background-size: 100%;
}
.message-success {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border-radius: 5px;
    text-wrap: break-word;
    animation: zoom-in 0.5s ease-in-out;
}
.message-error {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-wrap: break-word;
    animation: zoom-in 0.5s ease-in-out;
}
.fooster {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
    border-radius: 5px;
    text-wrap: break-word;
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.message {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 5px;
    text-wrap: break-word;
}
.btn {
    background-color: dodgerblue;
    color: white;
    border: 2px solid dodgerblue;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}
.btn:hover {
    border: 2px solid #0056b3;
    /* background-color: #0056b3; */
}
@keyframes zoom-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}